<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>896989719451-vu1nhu6plrvqb95pd8fnqkp99svqifig.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.896989719451-vu1nhu6plrvqb95pd8fnqkp99svqifig</string>
	<key>API_KEY</key>
	<string>AIzaSyADyYdRt7WRG1e0QjYvlWP0Z9c_Bzij0Jc</string>
	<key>GCM_SENDER_ID</key>
	<string>896989719451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elroir.ingemec</string>
	<key>PROJECT_ID</key>
	<string>tallermec-9f2b3</string>
	<key>STORAGE_BUCKET</key>
	<string>tallermec-9f2b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896989719451:ios:1a6c0301f5a2c256e24f3e</string>
	<key>DATABASE_URL</key>
	<string>https://tallermec-9f2b3-default-rtdb.firebaseio.com</string>
</dict>
</plist>